body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.head{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top{
    display: flex;
    align-items: center;
    margin-right: 35px;
    margin-top: 8px;
}
.h1{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 15px;
}
a {
  text-decoration: none;  /* 밑줄 제거 */
    color: black;      
}
h1{
    margin-top:0px;
    margin-bottom: 0px;
}
.mypage{
    margin-right: 5px;
}
.name{
    margin-right: 5px;
}
.img{
    display: flex;
    width: 100vw;
    height: 64vh;
}
.footer{
    color:rgb(201, 201, 201);
    background-color: #414b64;
    gap: 50px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-top: 42px;
}
.person{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 64vh;
}
.oldperson{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 64vh;
}
img{
    width: 45vw;
    height: 64vh;
}
.menu{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 9vh;
}
.fix{
    width: 40vw;
    height: 64vh;
}
.menu1{
    text-align: center;
    width: 200vw;
    display: block;  /* hover 영역 넓게 인식 */
    padding: 7px 0px;  /* 여백 키움: 배경만 커짐 */
    transition: background-color 0.3s ease;
    font-size: 16px;  /* 폰트 고정 */
    line-height: 1.5;   /* 높이감 유지 */
    position: relative; 
    background-color: #d3d3d343; /* 원하는 색으로 변경 */
}
.menu1::after { /* 오른쪽에 | 표시 */
    content: "";
    position: absolute;
    right: 0;
    top: 6px;      /* 선 시작 위치 */
    height: 70%;    /* 선 길이 */
    width: 1px;
    background-color: black;
}
.menu1:last-child::after {
    display: none; /* 맨 오른쪽에는 선 표시 X */
}

.menu1:hover {
    background-color: #cacacab0;
    cursor: pointer;
}
#one{
    width: 100vw;
    height: 81vh;
}
#oldone{
    width: 100vw;
    height: 81vh;
}