/*제목 스타일*/
title {
    font-family: "배달의민족 기랑해랑";
    margin-top: 30px;
    margin-left: 30px;
    font-size: 3em;
    color: rgb(34, 34, 172);
}

/*대표 이미지 크기, 투명도*/
.box {
    width: 100%;
    opacity: 50%;
}
.main {
    position: relative;
}

/*텍스트 위치,크기,폰트 조절*/
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    font-family: "나눔고딕";
}
.div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: 
    "box1 box1 box2"
    "box5 box5 box2";
    margin-left: 30px;
    width: 100%;
    height: 100%;
}

/*talbe크기,위치 조절*/
table {
    width: 90%;
    height: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

/*th 위치,색,폰트, 디자인 등*/
th {
    text-align: center;
    border: 1px solid black;
    vertical-align: center;
    height: 30px;
    background-color: whitesmoke;
    color: rgb(37, 37, 37);
    font-family: "배달의민족 한나체 Pro";
}
td {
    text-align: left;
    vertical-align: top;
    border: 1px black solid;
    width: 80px;
    height: 75px;
    font-family: "배달의민족 주아";
}
li {
    font-family: "배달의민족 한나체 Air";
    font-size: 12px;
    background-color: rgb(244, 231, 224);
    color: black;
}

/*토요일 일요일 색 지정*/
.sunday {
    color: red;
}
.saturday {
    color: blue;
}

/*신청폼 제목 스타일*/
.ttt {
    font-family: "배달의민족 기랑해랑";
    margin-top: 30px;
    margin-left: 30px;
    font-size: 2em;
    color: rgb(34, 34, 172);
}