h2{
    text-align: center;
}
ul{
    padding: 13px;
}
.full-screen-wrapper {
  width: 100vw;    /* 화면 너비 100% */
  height: 100vh;   /* 화면 높이 100% */
  box-sizing: border-box;     /* 패딩 포함 크기 계산 */
}
body {
    margin: 0;
    min-height: 100vh; /* 화면 전체 높이 보장 */
    background-color: rgb(166, 158, 149);
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 130px 40px;
    box-sizing: border-box;
}

.summary-list {
    padding-left: 30px; /* 왼쪽 들여쓰기 */
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555;
    list-style-type: disc;
}
.popup-wrapper {
    max-width: 500px;
    width: 85%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 15);
    padding: 10px 30px 30px 30px;    
    align-items: center;     /* 가로(교차축) 가운데 정렬 */
}

.notice {
    margin-top: 0;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.notice-card p {
    margin: 8px 0;
    color: #444;
}

.notice-card .date {
    font-size: 12px;
    color: #999;
}
.notice-list {
    display: flex;
    flex-direction: column; /* 세로 방향 배열 */
    top: 10px;
}

.close {
    display: block;
    margin-left: auto;  /* 왼쪽 마진을 auto로 해서 오른쪽 정렬 */
    margin-top: 5px;
    padding: 6px 10px;
    background-color: rgb(225, 220, 214);
    border-radius: 6px;
    border-color: rgb(173, 166, 159);
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.2s; /* 색 바뀌는 속도 */
}
.close:hover {
    background-color: rgb(195, 187, 179);
}